In [4]:
import re, os
#import mosestokenizer
from string import punctuation
import pandas as pd

In [12]:
def ordered_string_join(x, j=''):
    s = sorted(x, key=lambda x: x[0])
    a,b = list(zip(*s))
    return a, j.join(b)

In [3]:
# s\w\d+ma2: data in fixation order
# WNUM in eyetracking DF maps to word index in text DF
dundeeDir = 'eye-tracking'
fileList = [os.path.join(dundeeDir, f) for f in os.listdir(dundeeDir) if re.match(r's\w\d+ma2p*\.dat', f)]
cols = ['WorkerId', 'text_id', 'WORD','TEXT','LINE','OLEN','WLEN','XPOS','WNUM','FDUR','OBLP','WDLP','FXNO','TXFR']
dundee = pd.DataFrame(columns = cols)
for file in fileList:
    temp = pd.read_csv(file, sep='\s+', encoding='Windows-1252')
    match = re.search(r'(s\w)(\d+)ma2p*\.dat', file.split('/')[-1])
    subjId = match.group(1)
    text = int(match.group(2))
    temp.insert(loc=0, column='text_id', value=text)
    temp.insert(loc=0, column='WorkerId', value=subjId)
    dundee = dundee.append(temp)
dundee.rename(columns = {'FDUR':'time', 'WORD':'word', 'WNUM': 'Word_Number'}, inplace = True)
dundee['time'] = dundee.time.astype('int64')
dundee = dundee.reset_index().drop(columns=['index','OLEN','XPOS','OBLP','WDLP','FXNO','TXFR'])

In [9]:
dundee.head(30)

   WorkerId text_id             word TEXT LINE WLEN Word_Number  time
0        sg      13              The    1    1    3           1   148
1        sg      13      renaissance    1    1   11           2   155
2        sg      13      renaissance    1    1   11           2    93
3        sg      13               in    1    1    2           3    61
4        sg      13       children's    1    1   10           4   201
5        sg      13       children's    1    1   10           4   223
6        sg      13       children's    1    1   10           4   205
7        sg      13       literature    1    1   10           5    53
8        sg      13       literature    1    1   10           5   164
9        sg      13               is  -99    0    0           6     0
10       sg      13          turning    1    1    7           7   150
11       sg      13          turning    1    1    7           7   216
12       sg      13          turning    1    1    7           7   135
13       sg      13              out    1    1    3           8   202
14       sg      13               to    1    1    2           9   190
15       sg      13               be    1    1    2          10    84
16       sg      13              one    1    1    3          11   243
17       sg      13               of  -99    0    0          12     0
18       sg      13              the    1    1    3          13   174
19       sg      13             most  -99    0    0          14     0
20       sg      13         striking    1    2    8          15   295
21       sg      13         cultural    1    2    8          16    95
22       sg      13  characteristics    1    2   15          17   233
23       sg      13  characteristics    1    2   15          17   166
24       sg      13               of  -99    0    0          18     0
25       sg      13              our    1    2    3          19   264
26       sg      13           times.    1    2    5          20   195
27       sg      13          Whether    1    2    7          21   279
28       sg      13               we    1    2    2          22    58
29       sg      13              are    1    2    3          23   100

In [29]:

dundeeDir = 'texts'
textList = [os.path.join(dundeeDir, f) for f in os.listdir(dundeeDir) if re.match(r'tx\d+wrdp\.dat', f)]
cols = ['word', 'text_id', 'screen_nr', 'line_nr', 'pos_on_line', 'serial_nr', 'initial_letter_position', 'word_len_punct', 'word_len', 'punc_code', 'n_chars_before','n_chars_after', 'Word_Number', 'local_word_freq']
dundeeTexts = pd.DataFrame(columns = cols)
for text in textList:
    temp = pd.read_csv(text, sep='\s+', names=cols, encoding='Windows-1252')
    dundeeTexts = dundeeTexts.append(temp)
dundee['word'] = dundee.apply(lambda x: re.sub(r"\s+", ' ', MOSESNORMALIZER(x['word'].strip().replace('""','"').replace('\n',' ')).lower()), axis=1)

dundeeTexts.head()

,word,text_id,screen_nr,line_nr,pos_on_line,serial_nr,initial_letter_position,word_len_punct,word_len,punc_code,n_chars_before,n_chars_after,Word_Number,local_word_freq
0,The,7,1,1,1,1,0,3,3,0,0,0,1,3511
1,case,7,1,1,2,2,4,4,4,0,0,0,2,26
2,of,7,1,1,3,3,9,2,2,0,0,0,3,1757
3,Ms,7,1,1,4,4,12,2,2,0,0,0,4,9
4,Susan,7,1,1,5,5,15,5,5,0,0,0,5,3

In [31]:
dundeeTexts.to_csv("./dundee_text.csv")

In [25]:
inds, paragraphs = zip(*dundeeTexts[['text_id','Word_Number','word']].drop_duplicates().dropna().groupby(by = ['text_id']).apply(lambda x: ordered_string_join(zip(x['Word_Number'], x['word']), ' ')))
#dundee_stats = corpus_stats(list(enumerate(paragraphs,1)), models=DUNDEE_MODELS)

In [26]:
paragraphs[0]

"Are tourists enticed by these attractions threatening their very existence? The two young sea-lions took not the slightest interest in our arrival. They were playing on the jetty, rolling over and tumbling into the water together, entirely ignoring the human beings edging awkwardly round them. Our party then had to step gingerly over hundreds of marine iguanas basking on the rocks, strange creatures with richly coloured velvet coats, looking like something between a giant lizard and a miniature dinosaur, and found nowhere else on earth except here in the Galapagos. A little further on were the blue-footed boobies, birds with brilliant china-blue feet, again unique. And then there were the flightless cormorants, birds with vestigial wings who, over the generations, have lost the ability to fly because the nutrients at the shoreline are so rich they have no need to leave. The island of Fernandina lies at the far western edge of the Galapagos archipelago, dominated by a volcano that last erupted only six years ago, and home to some of the most remarkable wildlife in the world. It was late afternoon on one of the last days of the year, and we had come ashore to scramble round the rough dark lava rocks of Punta Espinosa on the island. In the golden afternoon light, with the moon rising above the volcanoes on Isabela Island across the strait, we could be forgiven for thinking that we were guests in paradise. The creatures you see in the Galapagos are remarkable in their rarity. They are even more so for their lack of fear. They don't run away. They carry on basking or playing or mating or incubating their eggs or fighting for territory with blissful disregard for human beings. It is as if you are walking into a David Attenborough programme, and finding that the real thing is even better than you ever imagined. The closeness of the living natural world, in this environment of volcanic rock and sweeping beaches and sparse vegetation, makes the Galapagos experience special. The colours help, too. The intense black of the rock, the startling blue of sea and sky, the crimson of the mating frigate-birds, the yellow of the warblers, the brilliant orange of the American oyster-catchers, the glistening silver of hundreds of dolphins swooping round your ship in the dawn light. We spent eight days in all, aboard a boat called Tropic Sun, visiting all parts of the islands. We lived, ate and slept on the boat and went ashore two or three times a day, to walk the trails, see the wildlife, and snorkel in the sea. The boat was hardly the most luxurious experience we'd ever had, and was certainly not a centre of gastronomic excellence. But that really wasn't the point. It took us to the places we wanted to see; and the expert guide we had, who led us round the trails and explained the flora and fauna to us, was the best we could possibly have wanted. You need not be an inveterate birdwatcher or naturalist to be captivated by what you see. You simply cannot help being taken over by a sense of wonder at this different and special world. Darwin's visit, in 1835, aboard HMS Beagle lasted five times longer. He marvelled at the tortoises and the iguanas, but it was the tiny finches that jolted his imagination most vividly. They are still called Darwin's Finches in his honour. There are 13 different species of the finches across the islands (our group managed to see five or six). The fascination is in the beaks. Each species on each island has, over time, developed a differently shaped beak, adapted to the vegetation and the competition in that particular location. These tiny birds with tiny distinctions helped to produce one of the greatest ever advances in the history of scientific thought. Since Darwin called, these islands on the Equator have struggled to maintain the fragile balance of their ecology. Over the years, the indigenous animal population has been under increasing threat, from wayward fishermen, or from feral dogs, goats and rats escaping from human settlements or boats. Recently the Ecuador authorities started trying to eradicate the invading species, and have now succeeded in freeing some entire islands from non-native creatures. A giant tortoise breeding programme is in place, rearing infants in a protected environment at a time when they are at greatest risk, and then returning them to the wild. And there are strict laws now in place against harming or destroying the wildlife - though only recently a group of 12 slain tortoises was discovered killed apparently for the Japanese aphrodisiac market. The most serious ecological threat, however, is posed by the greatest economic boon the islands have ever had: tourism. Ninety boats, ranging in size from 12 passengers to 100, do the rounds of the islands. And on the whole, the schedules are managed well. The itineraries are staggered, so that at most two or three boats might appear at one location at the same time. When you go ashore you have to be with a guide, you cannot stray from the marked trails, and you cannot touch the wildlife. One of the passengers on our boat was roundly and rightly chastised for stroking a young sea-lion - an action with potentially fatal consequences for the sea-lion because of the risk of rejection by the mother. In a country as poor as Ecuador, the temptation to increase the numbers of tourists is always there. We were told there's been a recent request for permission for a much larger boat to travel round the Galapagos, carrying some 500 passengers. I shudder to think what might happen if such a boat arrived at Punta Espinosa and disgorged everyone on to Fernandina Island at the same time. Not only would the shock of a thousand tramping feet endanger the rock, the sand, and the teeming wildlife that depends on it; but it would seriously degrade the quality of the visitors' own experience. Herein lies one of the oldest dilemmas about the evolution of tourism. We value, and to want to visit, the unique and fragile environments of the world. Yet in visiting we risk destroying the very qualities that render those places so enticing. This is especially true where the rarity of the place is quite so marked as it is in the Galapagos. Responsible tourism lies in absolute respect for the location and its inhabitants. It lies in treading carefully wherever we go. It lies in ensuring that the economic contribution we make by going helps to conserve rather than to destroy. And it lies in developing the international networks protecting endangered species and world heritage so that they can make a difference on the ground. Fortunately, in the Galapagos, Charles Darwin would recognise much of what he saw if he returned today. It is our duty to ensure that he would recognise it again, another two centuries hence. 'For the last three weeks there has been an utterly inexplicable rise in the prison population of about 600 prisoners a week.' The words of Martin Narey, the director-general of the Prison Service, ought to prompt more than the customary political panic. By this morning the prison population, which seemed to have stabilised at around 45,000 in the late 1980s and early 1990s, will have passed the 70,000 mark. Although the causes of the surge of the past three weeks have baffled those who might know, the underlying trend, a rise in the number of prisoners of 5,000 since this time last year, is utterly explicable, and indeed was predicted. Prison policy in the UK has been an uphill slalom for the past half-century. Politicians, under pressure to do something about crime, pass laws and write guidelines requiring more criminals to be imprisoned for more crimes for longer. Every now and then, however, there is a crisis as the walls of our prisons begin to bow under the weight of numbers contained therein. Politicians then scrabble around for 'tough' alternatives to jail, which they try to sell to a sceptical public, educated only in a simple lock-'em-up logic that reached its conclusion in the bone-jarring stupidity of Michael Howard's 'prison works' slogan. The prison-building programme then catches up with the prison population, and we resume the zig-zag which has given us the least successful prison policy in Europe. The election of a Labour government committed to being tough on the causes of crime was a chance to break this self- defeating sequence. Unfortunately, Tony Blair's first Home Secretary, Jack Straw, lacked the courage to seize it. David Blunkett is a more adventurous figure and shows some signs of being willing to challenge the assumptions of the past, but he still poses too often for the unitive gallery. At least he will have no difficulty in rejecting a demand from the Prison Governors' Association to take away from magistrates altogether the power to hand down custodial sentences. But will he use this crisis to ask deeper questions about why so many people are in prison, and whether they should be? One of the causes of the rise in the prison population in the past seven years has been the growth of illegal drug use, with crack cocaine a particular problem. This week's suggestion that shock tactics should be used to discourage young people from trying heroin is off the point. Information is important, but the interplay between the desire to escape reality and addiction is more complex than a simple Pavlovian model. Medicalising addiction rather than keeping it in the criminal underworld offers the best hope both of controlling hard-drug use and of limiting the effect on crime. If people who have problems with illegal drugs, alcohol or mental health were taken out of our prisons, there would be hardly anyone left. When it comes to the wider causes of crime, however, one of the best places to start is prison itself. With 58 per cent of inmates recorded as reoffending within two years of release, prison clearly does not work. A brave Home Secretary would conclude that prison obviously reinforces many of the causes of crime. It breaks up families and usually gives prisoners nothing better to do than plan how not to get caught next time. All parties welcomed the Woolf report of 1991, yet none has acted on it to improve the education service in prison. If schoolchildren can have life coaches, why not prisoners? Instead, education, anger-management courses and anything constructive are often the first things to be cut when governors come under pressure to save money. Our prison system is an affront to a civilised society, as is witnessed by the number of legal actions brought by prisoners under the Human Rights Act. Even if the voters did not care about that, they should care that it is a very expensive way of training criminals for more crime. Many of the alternatives to prison may not result in much better reoffending rates, but at least they are cheaper. Mr Blunkett should make the radically pragmatic case for the humane treatment of the nation's criminals as a first step in tackling the causes of crime. Here's something to chew over when pondering the growing problem of obese children. The fattest child in my daughter's primary school class was also the cleverest. Her mother came from Kuala Lumpur and latched onto me as a fellow Eurasian when we waited to collect our children after school. Far from being worried or embarrassed by Hannah's Humpty Dumpty physique - at seven her daughter weighed close to 10 stone - she was obviously proud of what she called Hannah's 'very good size'. At break, while the others played football, Hannah sat on a bench absorbed in the Reader's Digest or the Ladybird Guide to the Solar System steadily working her way through a family size pack of mini Mars bars. She came to tea once and explained why, although the individual galaxies were constricting, the universe itself was expanding. She wanted to be an astronaut. I had just come back from a press trip to Hawaii where one morning all of us, apart from a Midlands radio presenter called Kenny, had been taken by helicopter to see some spectacular waterfalls. Kenny couldn't come because the tour guide said he was too fat and would upset the balance of the helicopter. I'd told the children about Kenny and hoped they wouldn't bring it up. They didn't because, believe it or not, they really hadn't noticed Hannah was overweight. 'Hannah the clever one,' they'd say, not 'Hannah she's fat.' I wish this story had a happy ending for there's no reason why stories about fat people shouldn't. Take Kenny. From the neck down he looked like Mr Blobby but he had a surprisingly lean, mean profile and a devastatingly sexy voice. Women in the Midlands wrote in every week to tell Kenny how much they fancied him. When we got back from our waterfall trip, we found him on the hotel terrace drinking beer and dealing with his fan mail. Hannah, I'm sure, could have ended up as content as Kenny, but at 12 she was screwed up by the therapist her mother got hold of to help her lose weight. Please note it wasn't Hannah who wanted to look like Kate Moss, it was her mother forcing her. From being a bright, happy, clever fat girl, Hannah became a depressed neurotic anorexic teenager who only read books about fashion and diets. I bumped into her mother the other day outside the Post Office. 'How's Hannah?' I said. She was at a health clinic in Portugal doing alternate sessions of meditation and colonic irrigation, said her mother. Since the obesity report came out, parents have been swamped with advice about how to control their children's diets and lifestyle. The older I get, the less I'm convinced that we poor parents have any control over our children at all. This depressing opinion was confirmed by Sir Richard Doll, the first doctor to discover the link between cancer and smoking. He was on Desert Island Discs, and when Sue Lawley asked plaintively what parents could do to stop their children smoking, Sir Richard said: 'Absolutely nothing.' In fact, he opined, the more parents nagged at children not to smoke, the more likely it was that they would. As long as they stopped in their mid-thirties, they wouldn't die of lung cancer, he thought, and there was a very strong chance they would stop smoking as adults having weighed up all the evidence against it. I'm sure the same argument applies to obesity. Keep nagging at children to stop snacking, switch off the television and take exercise, the more they will guzzle and slump. Waiting outside the fitting rooms of a Kings Road shop the other day, I was surprised and dismayed not by how fat kids are these days but how unhealthily skinny they are, especially teenage girls. The ones trying on crop tops and trousers looked less like nubile young women than scaffolding. If you want to see serious obesity, go to Miami airport. It's more obvious out there because everyone is wearing shorts. The entire airport smells of cinnamon, the preferred topping for all those doughnuts they're selling. You see entire families sitting at doughnut stalls with buckets of doughnuts between their knees. Now that's obesity."

In [7]:
# s\w\d+ma1: data in fixation order
# WNUM in eyetracking DF maps to word index in text DF
dundeeDir = 'eye-tracking'
fileList = [os.path.join(dundeeDir, f) for f in os.listdir(dundeeDir) if re.match(r's\w\d+ma1p*\.dat', f)]
cols = ['WorkerId', 'text_id', 'WORD','TEXT','LINE','OLEN','WLEN','XPOS','WNUM','FDUR','OBLP','WDLP','FXNO','TXFR']
dundee = pd.DataFrame(columns = cols)
for file in fileList:
    temp = pd.read_csv(file, sep='\s+', encoding='Windows-1252')
    match = re.search(r'(s\w)(\d+)ma1p*\.dat', file.split('/')[-1])
    subjId = match.group(1)
    text = int(match.group(2))
    temp.insert(loc=0, column='text_id', value=text)
    temp.insert(loc=0, column='WorkerId', value=subjId)
    dundee = dundee.append(temp)
dundee.rename(columns = {'FDUR':'time', 'WORD':'word', 'WNUM': 'Word_Number'}, inplace = True)
dundee['time'] = dundee.time.astype('int64')
dundee = dundee.reset_index().drop(columns=['index','OLEN','XPOS','OBLP','WDLP','FXNO','TXFR'])

In [8]:
dundee.head(20)

   WorkerId text_id          word TEXT LINE WLEN Word_Number  time  LAUN
0        sj      20         After    1    1    5           1   201   0.0
1        sj      20         After    1    1    5           1   260   0.0
2        sj      20     England's    1    1    9           2   181  -8.0
3        sj      20  overwhelming    1    1   12           3   222  -9.0
4        sj      20        defeat    1    1    6           4   228 -12.0
5        sj      20           the    1    1    3           6   198  -9.0
6        sj      20       admired    1    1    7           7   185  -6.0
7        sj      20       Ireland    1    1    7           8   198  -6.0
8        sj      20       admired    1    1    7           7   299   8.0
9        sj      20           how    1    1    3          10   178 -16.0
10       sj      20         seems    1    2    5          15   121 -99.0
11       sj      20         seems    1    2    5          15   204   3.0
12       sj      20           the    1    2    3          17   211  -8.0
13       sj      20        press,    1    2    5          19   258 -11.0
14       sj      20         sober    1    2    5          20   232  -8.0
15       sj      20   broadsheets    1    2   11          21   373  -8.0
16       sj      20          much    1    2    4          23   233 -14.0
17       sj      20    xenophobic    1    2   10          25   204  -7.0
18       sj      20     tabloids,    1    2    8          26   349 -11.0
19       sj      20        outdid    1    3    6          27   181 -99.0

In [9]:
dundee.to_csv("./dundee_eyetracking.csv")